name: ecommerence_app
description: "A new Flutter project."
version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  lucide_icons: ^0.257.0


  cupertino_icons: ^1.0.8
  provider: ^6.1.5+1
  firebase_core: ^4.1.1
  firebase_auth: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^6.0.0




flutter:
  uses-material-design: true

  assets:
    - lib/design/